@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/maps";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";
@import "./components/animations";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/bouttons";
@import "./layout/container";


@import "./pages/index";
@import "./pages/menu";

@import "./layout/footer";

