@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/maps";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";

@import "./pages/index";
@import "./pages/menu1";
@import "./pages/menu2";
@import "./pages/menu3";
@import "./pages/menu4";

@import "./layout/footer";

