/* *************************** Page footer ***************************  */
.footer {
    background-color : gray-colors($colour-black,20%);
    @include flex(column, flex-start);
    color: $colour-white;
    padding: 0.5rem $layout-margin 1.5rem $layout-margin ;
    &__link{
        /*footer link class = icone + lien*/
        @include flex(row,flex-start, left);
        margin: 0.5rem 0;
    }
    & i{
        margin-right: 1rem;
        color: $colour-white;
    }
    & a{
        font-size: 1rem;
        color: $colour-white;
        &:hover {
            color:$colour-accent;
        }
    }
    &__ctn{
        @include desktop-only{
            /*footer block pour responsive desktop*/
            max-width:$max-width;
        }
        @include tablette-desktop{
            /*footer block pour responsive desktop et tablette*/
            width:$width-desk;
            margin-left:auto;
            margin-right:auto;
            @include flex(column, flex-start, flex-start);
        }
    }
}