/* ********************* header ********************* */
.header{
    background-color: $colour-white;
    color:$colour-black;
    padding: 1.2em;
    margin:auto;
    text-align: center;
    @include flex(row, center, space-between);
    &__btn{
        & i{
                color: $colour-black;
            }
        & i:hover{
            color: $colour-accent;
        }
    }
    &__logo{
        margin:auto;
        width:150px;
        color:$colour-black;
    }
    @include shadow;
}