@charset "UTF-8";
/* **************** colors variables **************** */
/*#353535;*/
/* **************** layout variables **************** */
/* **************** desktop version variables  **************** */
/* *************************** fonction création échelles de gris  *************************** */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
html, p {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #eaeaea;
}

/*.page{
    padding:0 $layout-margin;
}*/
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
body, p {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

p {
  line-height: 1.4rem;
}

h1 {
  /*section titles*/
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 32px;
  color: black;
}

h2 {
  /*pages title*/
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}

h3 {
  /*location name*/
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  /*container name*/
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: black;
}

h5 {
  /*restaurant name*/
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

h6 {
  /*numbers*/
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  display: inline;
}

span {
  /*fonctionnement text*/
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: black;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: 0;
  padding: 0.9rem 1.4rem;
  box-shadow: 0px 6px 6px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 300ms 500ms;
}
.btn:hover {
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

/* ******************animation progess bar****************** */
/*@keyframes progress-bar {
	0% {
		transform: scaleX(0);
	}
	17% {
		transform: scaleX(0.18);
	}
	24% {
		transform: scaleX(0.4);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	46% {
		transform: scaleX(0.81);
		animation-timing-function: cubic-bezier(0.25,0, 0.25, 1);
	}
	100% {
		transform: scaleX(1);
	}
}*/
/*$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$page-delay: $prog-bar-dur + $prog-bar-delay * 2;
$load-padding:0.25rem;
$load-height:1rem;
$bar-height: $load-height ;

$block-position:8px;
$block-anim-delay:240ms;*/
.load-container {
  background-color: #f7f7f7;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: load-page 400ms 1s ease-out both;
  /*.progress {
  	width: 80vw;
  	height: 2vw;
  	border: 2px solid $colour-primary;
        	height:$load-height;
  	padding: $load-padding;
  	margin-bottom: 30px;
  	&__bar {
  		height: $bar-height;
  		background: $cd-btn-start;
  		transform-origin: left;
  		transform: scaleX(0.5);
  		animation: progress-bar 1s $prog-bar-delay both;
  	}
  }*/
}
.load-container .load {
  margin: 0;
  width: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.load-container .load__bar {
  border-radius: 1em;
  height: 2vh;
  width: 2vh;
}
.load-container .load__bar--1 {
  background-color: #FF79DA;
  animation: load-bars-scal1 400ms backwards infinite;
}
.load-container .load__bar--2 {
  background-color: #FF79DA;
  animation: load-bars-transl 400ms backwards infinite;
}
.load-container .load__bar--3 {
  background-color: #99E2D0;
  animation: load-bars-transl 400ms backwards infinite;
}
.load-container .load__bar--4 {
  background-color: #99E2D0;
  animation: load-bars-scal2 400ms backwards infinite;
}

/* ******************animation loading page****************** */
@keyframes load-page {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes load-bars-scal1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load-bars-scal2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes load-bars-transl {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2vh, 0);
  }
}
/* ******************animation menus****************** */
@keyframes menus {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  background-color: #fff;
  color: black;
  padding: 1.2em;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.header__btn a {
  color: black;
}
.header__btn a:hover {
  color: #99E2D0;
}
.header__logo {
  margin: auto;
  width: 150px;
  color: black;
}

/* *************************** boutton *************************** */
.btn {
  margin-top: 2em;
  margin-bottom: 1.5em;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: 0;
  padding: 0.9rem 1.4rem;
  box-shadow: 0px 6px 6px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 300ms 500ms;
}
.btn:hover {
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

/* ********************* cartes blanches ********************* */
.card {
  position: relative;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .card__block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.card img {
  height: 180px;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 15px 15px 0 0;
  width: 100%;
  overflow: hidden;
  transition: 400ms ease-out;
  /*transition: transform 400ms;*/
}
.card img:hover {
  /*transform: scale(1.15);*/
  overflow: hidden;
}
.card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  color: black;
  font-size: 1.1rem;
}
.card__txt {
  margin: 0.2em 0;
}
.card__content {
  padding: 10px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  font-size: 1.1rem;
}
.card__content i {
  margin-top: 1.2rem;
  display: inline-block;
}
.card p {
  margin: auto;
}
.card__new {
  background-color: #99E2D0;
  position: absolute;
  right: 5%;
  top: 7%;
  padding: 0.4em 1.2em;
  font-size: 0.8rem;
  border-radius: 0.1em;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.card__new p {
  color: rgb(11, 142, 110);
}
.card:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card:hover .menu__plats__check {
  transform: translateX(0);
}
.card:hover .menu__plats__check i {
  transform: rotate(360deg);
}
.card__check {
  position: absolute;
  background-color: #99E2D0;
  color: #fff;
  font-size: 20px;
  padding: 22.5px 20px;
  border-radius: 0 15px 15px 0;
  right: 0;
  top: 0;
  transform: translateX(60px);
  transition: 0.3s ease-in-out;
}

/* ********************* cointainer pages ********************* */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: #f7f7f7;
  padding-bottom: 2em;
}
.container h4 {
  padding-top: 2em;
  margin: 0;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.container button:active + .progress > .progress__bar {
  transform: scaleX(1);
}
@media screen and (min-width: 992px) {
  .container a {
    width: 48%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container a {
    width: 48%;
  }
}
.container__ctn {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .container__ctn {
    max-width: 1400px;
  }
}
@media screen and (min-width: 768px) {
  .container__ctn {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.container button {
  width: 60%;
}

/* *************************** contenu d'en tête juste après le header *************************** */
.heading {
  width: 100%;
  margin: auto;
  text-align: center;
}
.heading__icon {
  align-self: center;
}
.heading__place {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.heading__place h3 {
  margin-left: 0.5em;
}
.heading__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 2.5rem 1.5rem;
}
.heading__content p {
  margin: 0;
  font-size: 1.1rem;
}

/* *************************** section Fonctionnement *************************** */
.description {
  padding: 3em 1rem;
  background: #fff;
}
.description h3 {
  margin: 0px;
}
.description__menu {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 1em;
  margin: 1rem 0 1rem 1rem;
  padding: 0 0.5em;
  height: 4.5em;
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .description__menu {
    width: 28%;
  }
}
.description__menu i {
  color: gray;
  margin: 1.5em;
  width: 1em;
}
@media screen and (min-width: 768px) {
  .description__menu i {
    margin: 1em;
  }
}
.description__menu__number {
  position: absolute;
  background-color: #9356DC;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  left: 0%;
  top: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description__menu:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.description__menu:hover i {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .description__menu__block {
    display: flex;
    justify-content: space-between;
  }
}
.description__menu__block ul {
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .description__menu__block ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .description__ctn {
    max-width: 1400px;
  }
}
@media screen and (min-width: 768px) {
  .description__ctn {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  /*position:relative;*/
}
.icon-heart {
  position: absolute;
}
.icon-heart__full {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #FF79DA;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
.icon:hover > .icon-heart__full {
  transform: scale(1);
}

.menu {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .menu {
    width: 32%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu {
    width: 80%;
  }
}
.menu__titre {
  text-transform: uppercase;
  margin-top: 1em;
  padding-bottom: 0.5em;
  width: 10%;
  border-bottom: 2px solid #99E2D0;
}
.menu__plats {
  overflow: hidden;
  position: relative;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.7em;
}
.menu__plats__txt {
  overflow: break-word;
}
.menu__plats__txt h5 {
  margin-bottom: 0.2em;
}
.menu__plats__price {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
.menu__plats__check {
  position: absolute;
  background-color: #99e2d0;
  color: #fff;
  border-radius: 0 15px 15px 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  transform: translateX(60px);
  transition: 0.5s ease-in-out;
}
.menu__plats__check i {
  position: absolute;
  padding: 2px 4px;
  right: 25%;
  top: 50%;
  transition: 0.5s ease-in-out;
}
.menu__plats:hover .menu__plats__check {
  transform: translateX(0);
}
.menu__plats:hover .menu__plats__check i {
  transform: rotate(360deg);
}
.menu__plats:hover .menu__plats__txt p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 99%; /* some width */
  margin: 0;
}
.menu__plats:hover .menu__plats__price {
  transform: translateX(-60px);
}
.menu--anim-1 {
  animation: menus 300ms 300ms ease-in-out both;
}
.menu--anim-2 {
  animation: menus 300ms 600ms ease-in-out both;
}
.menu--anim-3 {
  animation: menus 300ms 900ms ease-in-out both;
}
.menu__btn {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}
.menu__btn button {
  width: 60%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .menu__btn button {
    width: 20%;
  }
}

.rest__titre {
  border-radius: 40px 40px 0 0;
  background-color: #f7f7f7;
  position: relative;
  margin-top: -50px;
  color: black;
  padding: 2em 2em 1em 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rest__titre h2 {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .rest__titre h2 {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .rest__titre {
    justify-content: center;
  }
}
.rest__img img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.rest-img img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

/* *************************** Page footer ***************************  */
.footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  padding: 0.5rem 1rem 1.5rem 1rem;
}
.footer h2 {
  font-size: 1.2rem;
  font-weight: 200;
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  margin: 0.5rem 0;
}
.footer i {
  margin-right: 1rem;
}
.footer a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #99E2D0;
}
@media screen and (min-width: 992px) {
  .footer__ctn {
    max-width: 1400px;
  }
}
@media screen and (min-width: 768px) {
  .footer__ctn {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
