@charset "UTF-8";
/*#353535;*/
/*$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$cat-delay: $prog-bar-dur + $prog-bar-delay * 2;
$load-padding:0.25rem;
$load-height:3rem;
$bar-height: $load-height - $load-padding * 5;

$mint: #15dea5;
$navy: #022f40;*/
/* *************************** fonction création échelles de gris  *************************** */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
html, p {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #eaeaea;
}

/*.page{
    padding:0 $layout-margin;
}*/
li {
  list-style: none;
}

/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
body, p {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

p {
  line-height: 1.4rem;
}

h1 {
  /*logo title*/
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  font-weight: 500;
}

h2 {
  /*pages title*/
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
}

h3 {
  /*section titles*/
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 32px;
  color: black;
}

h4 {
  /*location name*/
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

h6 {
  /*numbers*/
  font-size: 0.9rem;
  font-weight: 200;
  margin: 1rem 0;
  color: #fff;
  display: inline;
}

span {
  /*fonctionnement text*/
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  color: black;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 1.5rem;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: 0;
  padding: 0.9rem 1.4rem;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 300ms 500ms;
}
.btn:hover {
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  100% {
    transform: scaleX(1);
  }
}
.load-container {
  margin: 0;
  display: flex;
  padding-top: 40vh;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.load-container .progress {
  width: 80vw;
  height: 2vw;
  border: 2px solid #4d4d4d;
  height: 3rem;
  padding: 0.25rem;
  margin-bottom: 30px;
}
.load-container .progress__bar {
  height: 3rem;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  transform-origin: left;
  transform: scaleX(0.5);
  animation: progress-bar 1000ms 150ms both;
}

.page {
  animation: pages 200ms 1300ms both;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  /*padding:0 $layout-margin;*/
}

@keyframes pages {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0.3;
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    opacity: 0.5;
    animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  100% {
    opacity: 1;
  }
}
.header {
  background-color: #fff;
  color: black;
  padding: 0.7rem 0 0.5rem 0;
  margin: auto;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.header__logo {
  margin-top: 0;
  margin-bottom: 0;
}

/* *************************** contenu d'en tête juste après le header *************************** */
.heading {
  width: 100%;
  margin: auto;
  text-align: center;
}
.heading__place {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.heading__place h4 {
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.heading__content {
  background-color: #f7f7f7;
  padding: 2.5rem 1.5rem;
  /* *************************** boutton *************************** */
}
.heading__content h3 {
  padding: 0 1.5rem;
  margin: 0;
  color: black;
}
.heading__content__btn {
  margin: 0.5rem 0;
  border-radius: 1.5rem;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: 0;
  padding: 0.9rem 1.4rem;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 300ms 500ms;
}
.heading__content__btn:hover {
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
}

/* *************************** section Fonctionnement *************************** */
.description {
  padding: 50px 1.5rem;
  background: #fff;
}
.description h3 {
  margin: 0px;
}
.description__menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0.8rem 1.4rem;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.description__menu i {
  color: gray;
  margin: 0 1.5rem 0 1rem;
}
.description__menu__number {
  position: absolute;
  background-color: #9356DC;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  left: 0%;
  top: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description__menu:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.container {
  padding: 2rem 1.5rem;
  background-color: #f7f7f7;
  /* @include tablette-only{
       width:80%;
   }*/
}
.container h3 {
  margin: 0;
}
.container button:active + .progress > .progress__bar {
  transform: scaleX(1);
}

.card {
  height: 250px;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  /* @include tablette-only{
       flex-direction: row;
       flex-wrap: wrap;
   }*/
}
.card img {
  object-fit: cover;
  /*transform:scale(1.2);*/
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
  /*transition: transform 400ms;*/
}
.card img:hover {
  /*transform: scale(1.15);*/
  overflow: hidden;
  height: 80%;
}
.card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  color: black;
  font-size: 1.1rem;
}
.card__txt h3 {
  font-size: 1.1rem;
}
.card__content {
  padding: 10px 15px;
  width: 88%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  font-size: 1.1rem;
}
.card__content i {
  margin-top: 1.2rem;
  display: inline-block;
}
.card p {
  margin: auto;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /*position:relative;*/
}
.icon-heart {
  position: absolute;
}
.icon-heart__full {
  color: #FF79DA;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
.icon:hover > .icon-heart__full {
  transform: scale(1);
}

/* *************************** Page footer ***************************  */
.footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}
.footer h2 {
  font-size: 1.2rem;
  font-weight: 200;
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  margin: 0.5rem 0;
}
.footer i {
  margin-right: 1rem;
}
.footer a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
