/* ******************animation progess bar****************** */

/*@keyframes progress-bar {
	0% {
		transform: scaleX(0);
	}
	17% {
		transform: scaleX(0.18);
	}
	24% {
		transform: scaleX(0.4);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	46% {
		transform: scaleX(0.81);
		animation-timing-function: cubic-bezier(0.25,0, 0.25, 1);
	}
	100% {
		transform: scaleX(1);
	}
}*/

/*$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$page-delay: $prog-bar-dur + $prog-bar-delay * 2;
$load-padding:0.25rem;
$load-height:1rem;
$bar-height: $load-height ;

$block-position:8px;
$block-anim-delay:240ms;*/

$anim-dur:500ms;

.load-container {
	background-color:gray-colors($colour-black,97%);
	position:fixed; //permet d'avoir 100% de la dimension de la page
	z-index: 1;
	//padding-top:40vh;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation: load-page $anim-dur 2s ease-out both;
	/*.progress {
		width: 80vw;
		height: 2vw;
		border: 2px solid $colour-primary;
       	height:$load-height;
		padding: $load-padding;
		margin-bottom: 30px;
		&__bar {
			height: $bar-height;
			background: $cd-btn-start;
			transform-origin: left;
			transform: scaleX(0.5);
			animation: progress-bar 1s $prog-bar-delay both;
		}
	}*/
	.load {
		margin:0;
		width:8vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&__bar {
			border-radius: 1em;
			height: 2vh;
			width: 2vh;
			position:absolute;
			
			&--1{
				left:0vh;
				background-color:$colour-secondary;
				animation: load-bars-scal1 $anim-dur cubic-bezier(0.5, 0, 0.5, 1) backwards infinite;
			}
			&--2{
				left:0vh;
				background-color:$colour-secondary;
				animation: load-bars-trans1 $anim-dur cubic-bezier(0.5, 0, 0.5, 1) backwards infinite;
			}
			&--3{
				left:4vh;
				background-color:$colour-primary;
				animation: load-bars-trans2 $anim-dur cubic-bezier(0.5, 0, 0.5, 1) backwards infinite;
			}
			&--4{
				left:8vh;
				background-color:$colour-primary;
				animation: load-bars-scal2 $anim-dur cubic-bezier(0.5, 0, 0.5, 1) backwards infinite;
			}
		}
	

	}
}



/* ******************animation loading page****************** */

@keyframes load-page{
	0%{
		opacity: 0.85;
	}
	100%{
		opacity:0;
		z-index:-5;
	}
}

@keyframes ball-colours{
	from{
		background-color:$colour-secondary;
	}
	to{
		background-color:$colour-primary ;
	}
}

@keyframes load-bars-scal1{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
		//transform: translate(4vh,0);
	}
}

@keyframes load-bars-scal2{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
		
	}
}


@keyframes load-bars-trans1{
    from{
        transform: translate(0,0);
		//background-color:$colour-secondary;
		//transform: scale(0.6);
    }
    to{
        transform: translate(4vh,0);
		
		//background-color:$colour-primary;
    }
}

@keyframes load-bars-trans2{
    0% {
        transform: translate(0,0);
		//background-color:$colour-primary;
		//transform: scale(0.6);
    }
    100% {
        transform: translate(4vh,0);
		//background-color:$colour-secondary;
    }
}

/* ******************animation menus****************** */


@keyframes menus {
	0% {
		opacity:0;
		transform: translateY(5px);
	}
	100% {
		opacity:1;
		transform: translateY(0);
	}
}
