/* *************************** Layout Bases *************************** */
html,p {
    // 10px div by def of 16px
    font-size: 16px;
}

body {
    margin:0;
    background-color: $colour-background;
}

li{
    list-style: none;
}

*{
    box-sizing: border-box;
}