html,p {
    // 10px div by def of 16px
    font-size: 16px;
}

body {
    margin:0;
    background-color: $colour-background;
}

/*.page{
    padding:0 $layout-margin;
}*/

li{
    list-style: none;
}

.page{
}

*{
    box-sizing: border-box;
}