@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /*font-family: 'Shrikhand', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body,p {
    font-family: 'Roboto', sans-serif;
    color: darken($colour-white,70%);
    font-size: 1.2rem;
    font-weight: 100;
}

p{
    line-height: 1.4rem;
}

h1 {
    /*logo title*/
    font-family: 'Shrikhand', cursive;
    font-size: 1.9rem;
    font-weight: 500;
}

h2 {
    /*pages title*/
    font-family: 'Shrikhand', cursive;
    font-size: 2.5rem;
}

h3{
    /*section titles*/
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 32px;
    color:$colour-black;
}

h4{
    /*location name*/
    font-size:1rem;
    font-weight: 600;
    margin:1rem 0;
}

h6{
    /*numbers*/
    font-size:0.8rem;
    font-weight: 200;
    margin:1rem 0;
    color:$colour-white;
    display:inline;
}


span{
    /*fonctionnement text*/
    font-size:1rem;
    font-weight: 600;
    margin:1rem 0;
    color:$colour-black;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}