/* *************************** contenu d'en tête juste après le header *************************** */
.heading{
    width: 100%; 
    margin:auto;
    text-align: center;
    &__icon{
        /* header icon location*/
        align-self: center;
    }
    &__place{
        /* header location : icone + form */
        margin:auto;
        margin-top:1em;
        margin-bottom:1em;
        @include flex(row,center,center);
    }
    &__ctn{
        /* header content : titre sute + duscription + btn */
        @include flex(column, center, center);
        background-color: gray-colors($colour-black,97%);
        & p{
           margin:0;
           font-size: 1.1rem;
        }
    }
    & input{
         /* header form pour location */
        background-color: transparent;
        border:none;
        text-align: center;
        width:fit-content;
        background-color: transparent;
    }
}

/* *************************** section Fonctionnement *************************** */
.fonctionnement{
    background: $colour-white;
    &__opt{
        /* fonctionnement option */
        cursor: pointer;
        @include flex(row, center, flex-start);
        position:relative;
        background-color: gray-colors($colour-black,97%);
        border-radius:1em;
        margin:1rem 0 1rem 1rem;
        padding:0 0.5em;
        height:4.5em;
        @include tablette-desktop{
            width:28%;
        }
        @include shadow (0px, 8px, 8px, 1px, $colour-black);
        & i {
            color: gray-colors($colour-black,50%);
            margin: 1.5em;
            width:1em;
            @include tablette-desktop{
                margin:1em;
            }
        }
        &__number{
             /* fonctionnement option number */
            position: absolute;
            background-color: $colour-primary;
            border-radius:50%;
            width:2em;
            height:2em;
            left:0%;
            top:50%;
            margin:0px;
            transform: translate(-50%,-50%);
            @include flex(column, center, center);
        }
        &:hover{
            background-color:rgba($color: $colour-primary, $alpha: 0.1);
            i{
                color:$colour-primary;
            }
    
        }
        &__block{
            /* fonctionnement block d'options */
            @include tablette-desktop{
                display:flex;
                justify-content: space-between;
            }
            & ul{
                padding-left: 0;
                @include tablette-desktop{
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                }
            }
        }
    }
    &__ctn{
        width:100%;
        /* fonctionnement content : titre + block d'options */
        @include desktop-only{
            max-width:$max-width;
        }
        @include tablette-desktop{
            width:$width-desk;
            margin-left:auto;
            margin-right:auto;
        }
    }
}

/* *************************** section Restaurants *************************** */
.restaurants{
    background-color: gray-colors($colour-black,97%) ;
    padding-bottom :2em;
    & a{
        /*container links sur cards*/
        @include tablette-desktop{
            width:48%;
        }
    }
    &__ctn{
         /*block de cards + titre*/
        width:100%;
        @include desktop-only{
            max-width:$max-width;
        }
        @include tablette-desktop{
            width:$width-desk;
            margin-left:auto;
            margin-right:auto;
            @include flex(column, flex-start, flex-start);
        }
        
    }
    & button{
        /*boutton dans le container menus*/
        width:60%;
    }
    @include tablette-only{
        width:100%;
    }
    @include desktop-only{
        @include flex(row, center, space-between);
        margin-left: auto;
        margin-right:auto;
    }
}