/* *************************** contenu d'en tête juste après le header *************************** */
.heading{
    width: 100%; 
    margin:auto;
    text-align: center;
    &__icon{
        align-self: center;
    }
    &__place{
        margin:auto;
        margin-top:16px;
        margin-bottom:16px;
        @include flex(row,flex-end,center);
        & h3{
            margin-left:0.5em;
        }
    }
    &__content{
        @include flex(column, center, center);
        background-color: gray-colors($colour-black,97%);
        padding: 2.5rem 1.5rem;
        & p{
           margin:0.5em 0;
           font-size: 1.1rem;
        }
    }
}

/* *************************** section Fonctionnement *************************** */
.description{
    padding: 3em $layout-margin;
    background: $colour-white;
    & h3{
        margin:0px;
    }
    &__menu{
        cursor: pointer;
        @include flex(row, center, flex-start);
        position:relative;
        background-color: gray-colors($colour-black,97%);
        border-radius:1em;
        margin:1rem 0 1rem 1rem;
        padding:0 0.5em;
        height:4.5em;
        @include tablette-desktop{
            width:28%;
        }
        @include shadow (0px, 8px, 8px, 1px, $colour-black);
        & i {
            color: gray-colors($colour-black,50%);
            margin: 1.5em;
            width:1em;
            @include tablette-desktop{
                margin:1em;
            }
        }
        &__number{
            position: absolute;
            background-color: $colour-primary ;
            border-radius:50%;
            width:2em;
            height:2em;
            left:0%;
            top:50%;
            margin:0px;
            transform: translate(-50%,-50%);
            @include flex(column, center, center);
        }
        &:hover{
            background-color:rgba($color: $colour-primary, $alpha: 0.1);
            i{
                color:$colour-primary;
            }
    
        }
        &__block{
            @include tablette-desktop{
                display:flex;
                justify-content: space-between;
            }
        }
    }
    &__ctn{
        @include desktop-only{
            max-width:$max-width;
        }
        @include tablette-desktop{
            width:$width-desk;
            margin-left:auto;
            margin-right:auto;
        }
    }
}


.icon{
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    /*position:relative;*/
    &-heart{
        position:absolute;
        &__full{
            color:#FF79DA;
            transform: scale(0);
            transition: transform 300ms ease-in-out;
        }
    }
    &:hover > .icon-heart__full {
        transform: scale(1);
    }
}