@mixin shadow($offset-x: 0,$offset-y: $shadow-size,$blur: $shadow-blur, $spread: $shadow-spread, $colour: $colour-black){
    box-shadow: $offset-x $offset-y $blur $spread rgba($color: $colour, $alpha: 0.1);
}

@mixin flex($direction: row, $align:center, $justify:center){
    display:flex;
    flex-direction:$direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin btn {
    @include flex(row,center,center);
    border-radius:1.5rem;
    color:$colour-white;
    background: $cd-btn-start;
    border: 0;
    padding:0.9rem 1.4rem;
    @include shadow(0px, 6px, 6px, 0, $colour-black);
    cursor: pointer;
    transition: background-color 300ms 500ms;
    &:hover{
        background: $cd-btn-end;
        @include shadow(0px, 6px, 2px, 1px, $colour-black);
    }
}

@mixin mobile-only{
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablette-only{
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only{
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin tablette-desktop{
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}