// CSS Variables

//  colors  
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-black: black;
$colour-background : #eaeaea;
$colour-gray:#4d4d4d; 

//couleur du boutton
$cd-btn-start: linear-gradient(180deg, $colour-secondary 0%, $colour-primary 100%);

//eclaicir couleurs pour le boutton
$cd-btn-cprimary:lighten($colour-primary,5);
$cd-btn-csecondary:lighten($colour-secondary,5);

//colour du boutton hover
$cd-btn-end:linear-gradient(180deg, $cd-btn-csecondary 0%, $cd-btn-cprimary 100%);

// layout
$layout-margin: 1rem;
$shadow-size: 2px;
$shadow-blur: 2px;
$shadow-spread:0px;

$card-padding: 1rem;

// desktop version 
$max-width:1400px;
$width-desk:85%;